<!DOCTYPE html>
<html>
<body>

  <h1>Conversor de CSV para SQL</h1>
  <p>Estudando SQL e buscando base de dados para praticar essa linguagem de consulta, decidi fazer meu próprio conversor em Python. Esse vai ser um desafio interessante pois vai envolver conteúdos de revisão da linguagem python pura, como manipulação de arquivos texto. </p>
  <h3>Algoritmo</h3>
  <ul>
    <li>Carregar arquivo csv</li>
    <li>Carregar bibliotecas necessárias
      <ul>
          <li>Por enquanto apenas funçõẽs Built-in do Python</li>
      </ul>
    </li>
    <li>Iniciar processo de conversão
      <ul>
        <li>Identificar o separador</li>
        <li>Identificar as colunas</li>
        <li>Identificar tipos de dados</li>
        <li>Atribuir os valores encontrados nos tópicos supracitados em variáveis</li>
      </ul>
    </li>
    <li>Identificar primeira linha de dados</li>
    <li>Criar tabela na linguagem sql</li>
    <li>Converter linhas do csv para linguagem sql</li>

  </ul>
  <img src='https://www.zuar.com/blog/content/images/size/w2000/2022/10/CSV-to-SQL.png'>

</body>
</html>

# Carregando Bibliotecas

- Nenhum foi necessária até o momento

# Iniciando Algoritmo

- Lendo o arquivo csv e atribuindo esses dados a uma variável

In [1]:
csv = open('arquivo_csv_teste.csv', 'w')
sample = '''"geolocation_zip_code_prefix","geolocation_lat","geolocation_lng","geolocation_city","geolocation_state"
"01037",-23.54562128115268,-46.63929204800168,sao paulo,SP
"01046",-23.546081127035535,-46.64482029837157,sao paulo,SP
"01046",-23.54612896641469,-46.64295148361138,sao paulo,SP
"01041",-23.5443921648681,-46.63949930627844,sao paulo,SP
"01035",-23.541577961711493,-46.64160722329613,sao paulo,SP
"01012",-23.547762303364266,-46.63536053788448,são paulo,SP
"01047",-23.546273112412678,-46.64122516971552,sao paulo,SP
"01013",-23.546923208436723,-46.6342636964915,sao paulo,SP
"01029",-23.543769055769133,-46.63427784085132,sao paulo,SP
"01011",-23.547639550320632,-46.63603162315495,sao paulo,SP
"01013",-23.547325128224376,-46.63418378613892,sao paulo,SP
"01032",-23.53841810407414,-46.634778375266734,sao paulo,SP
"01014",-23.546435343326205,-46.63383023397196,sao paulo,SP
'''
csv.write(sample)
with open('arquivo_csv_teste.csv', 'r') as csv:
  arquivo_sql= csv.readlines()

- Formando a sintaxe SQL

In [3]:
lista_sql_create = ['CREATE TABLE ', f'{csv.name}'.replace('.csv', ''), '(', '\n']
lista_sql_insert = ['INSERT INTO ', f'{csv.name}'.replace('.csv', ''), '(', '\n']
tipos_sql_dados = ['INT','DOUBLE PRECISION', 'DOUBLE PRECISION', 'VARCHAR', 'VARCHAR'] # tem que ser feita coloca na função da classe
sizes = [10,0,0,50,2] # tem que ser feita coloca na função da classe

for size in sizes:
  if size == 0:
    indice = sizes.index(size)
    sizes.remove(size)
    sizes.insert(indice, '')


for i,linha in enumerate(arquivo_sql):
  if i == 0:
    indice_para_size_tipos = 0

    for elemento in linha.split(','):
      
      if elemento == linha.split(',')[-1]:
        if sizes[indice_para_size_tipos] == '':
          lista_sql_create.append('\t'+elemento.replace('\n', '')+ f' {tipos_sql_dados[indice_para_size_tipos]}{sizes[indice_para_size_tipos]}')
          lista_sql_insert.append('\t'+elemento)
        else:
          lista_sql_create.append('\t'+elemento.replace('\n', '')+ f' {tipos_sql_dados[indice_para_size_tipos]}({sizes[indice_para_size_tipos]})')
          lista_sql_insert.append('\t'+elemento)

      else:
        if sizes[indice_para_size_tipos] == '':
          lista_sql_create.append('\t'+elemento.replace('\n', '')+ f' {tipos_sql_dados[indice_para_size_tipos]}{sizes[indice_para_size_tipos]}'+',\n')
          lista_sql_insert.append('\t'+elemento+','+'\n')
        else:
          lista_sql_create.append('\t'+elemento.replace('\n', '')+ f' {tipos_sql_dados[indice_para_size_tipos]}({sizes[indice_para_size_tipos]})'+',\n')
          lista_sql_insert.append('\t'+elemento+','+'\n')
      indice_para_size_tipos += 1

    lista_sql_create.append(');\n')
    lista_sql_insert.append(') VALUES ')
  else:
    lista_sql_insert.append('(')
    for dado in linha.split(','):
      if '"' in dado:
        dado = dado.replace('"', "'")
        lista_sql_insert.append(f"{dado}"+',')
      elif '.' in dado and '-' in dado:
        dado = float(dado)
        lista_sql_insert.append(f"{dado}"+',')
      else:
        lista_sql_insert.append(f"'{dado}'"+',')
    lista_sql_insert.append('),')

sql_create = ''.join(lista_sql_create)
sql_insert = ''.join(lista_sql_insert).replace(',)', ')')[:-1]

- Teste piloto

In [4]:
print(sql_create.replace('"', ''))
print(sql_insert.replace('"', ''))

CREATE TABLE arquivo_csv_teste(
	geolocation_zip_code_prefix INT(10),
	geolocation_lat DOUBLE PRECISION,
	geolocation_lng DOUBLE PRECISION,
	geolocation_city VARCHAR(50),
	geolocation_state VARCHAR(2));

INSERT INTO arquivo_csv_teste(
	geolocation_zip_code_prefix,
	geolocation_lat,
	geolocation_lng,
	geolocation_city,
	geolocation_state
) VALUES ('01037',-23.54562128115268,-46.63929204800168,'sao paulo','SP
'),('01046',-23.546081127035535,-46.64482029837157,'sao paulo','SP
'),('01046',-23.54612896641469,-46.64295148361138,'sao paulo','SP
'),('01041',-23.5443921648681,-46.63949930627844,'sao paulo','SP
'),('01035',-23.541577961711493,-46.64160722329613,'sao paulo','SP
'),('01012',-23.547762303364266,-46.63536053788448,'são paulo','SP
'),('01047',-23.546273112412678,-46.64122516971552,'sao paulo','SP
'),('01013',-23.546923208436723,-46.6342636964915,'sao paulo','SP
'),('01029',-23.543769055769133,-46.63427784085132,'sao paulo','SP
'),('01011',-23.547639550320632,-46.63603162315495,'sao paulo','SP
'),('01013',-23.547325128224376,-46.63418378613892,'sao paulo','SP
'),('01032',-23.53841810407414,-46.634778375266734,'sao paulo','SP
'),('01014',-23.546435343326205,-46.63383023397196,'sao paulo','SP
')

- Baixando o arquivo em formato .SQL

In [34]:
arquivo_sql = open('nome_arquivo_final.sql', 'w')
arquivo_sql.write(sql_create)
arquivo_sql.write(sql_insert)
arquivo_sql.write(';')
arquivo_sql.close()